[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/thrust"]
	path = ext/thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/loguru"]
	path = ext/loguru
	url = git@github.com:emilk/loguru.git
